{% extends 'base.html' %}

{% block content %}
<div class="edit-employee-container">
    <h2 class="edit-employee-title">Create New Worker</h2>
    <form method="post" class="employee-form">
        {% csrf_token %}

        <h2 class="section-title">Certificates</h2>
        <div class="certificates-section">
            <a href="{% url 'create_certificate_no_slug' %}?next={{ request.path }}" class="btn-add">Add Certificate</a>
            <ul class="certificates-list">
                {% for certificate in certificates %}
                    <li>
                        <span>{{ certificate.name }}</span>
                        <small>
                            Issued: {{ certificate.issued_date }}
                            {% if certificate.expiry_date %} (Valid until: {{ certificate.expiry_date }}) {% endif %}
                        </small>
                    </li>
                {% empty %}
                    <li class="no-certificates">No Certificates</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section-title">Employee Details</div>
        <div class="form-group">
            {{ employee_form.as_p }}
        </div>

        <div class="section-title">Address Details</div>
        <div class="form-group">
            {{ address_form.as_p }}
        </div>

        <div class="section-title">Contact Person Details</div>
        <div class="form-group">
            {{ contact_person_form.as_p }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary">Create New Worker</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const firstNameInput = document.querySelector("#id_first_name");
        const lastNameInput = document.querySelector("#id_last_name");
        const personalNumberInput = document.querySelector("#id_personal_number");
        const slugInput = document.querySelector("#id_slug");
    
        function updateSlug() {
            const firstName = firstNameInput.value.trim().toLowerCase();
            const lastName = lastNameInput.value.trim().toLowerCase();
            const personalNumber = personalNumberInput.value.trim();
    
            if (firstName && lastName && personalNumber) {
                let slug = `${firstName}-${lastName}-${personalNumber}`;
                slug = slug.normalize("NFD").replace(/[\u0300-\u036f]/g, "");  // Usuwa polskie znaki diakrytyczne
                slug = slug.replace(/\s+/g, "-").replace(/[^a-zA-Z0-9-]/g, ""); // Zamienia spacje na "-"
                slugInput.value = slug;
            }
        }
    
        firstNameInput.addEventListener("input", updateSlug);
        lastNameInput.addEventListener("input", updateSlug);
        personalNumberInput.addEventListener("input", updateSlug);
    });
    </script>
    
{% endblock %}
