{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ firstname }} {{ lastname }}
{% endblock %}

{% block content %}
    <div class="employee-details-container">
        <h1 class="employee-name">{{ firstname }} {{ lastname }}</h1>
        <div class="employee-info">
            <p><span class="info-label">Numer personalny:</span> {{ personal_number }}</p>
            <p><span class="info-label">Numer telefonu:</span> {{ phone_number }}</p>
            <p><span class="info-label">Numer konta bankowego:</span> {{ bank_account_number }}</p>
            <p><span class="info-label">Adres:</span> {{ address }}</p>
            <p><span class="info-label">Osoba kontaktowa:</span> {{ contact_person }}</p>
            <p><span class="info-label">Zawód:</span> {{ position }}</p>
            <p><span class="info-label">Projekt:</span> {{ projects }}</p>
            <p><span class="info-label">Status:</span> {{ status }}</p>
        </div>
    </div>
{% endblock %}
