{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ firstname }} {{ lastname }}
{% endblock %}

{% block content %}
    <h1>{{ firstname }} {{ lastname }}</h1>
    <p>Numer personalny: {{ personal_number }}</p>
    <p>Numer telefonu: {{ phone_number }}</p>
    <p>Numer konta bankowego: {{ bank_account_number }}</p>
    <p>Adres: {{ address }}</p>
    <p>Osoba kontaktowa: {{ contact_person }}</p>
    <p>Zawód: {{ position }}</p>
    <p>Projekt: {{ projects }}</p>
    <p>Status: {{ status }}</p>
{% endblock %}