{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home - Shipyard Management System
{% endblock %}

{% block content %}
<div class="home-container">
    <h1 class="home-title">Shipyard Management System</h1>
    <div class="home-sections">
        <a href="{% url 'employee_list' %}" class="employees-section clickable-section">
            <h2>Employees:</h2>
            <ul>
                {% for employee in employees %}
                    <li>{{ employee.first_name }} {{ employee.last_name }}</li>
                {% endfor %}
            </ul>
            {% if employees|length > 5 %}
                <p>...and more</p>
            {% endif %}
        </a>

        <a href="{% url 'projects_list' %}" class="projects-section clickable-section">
            <h2>Projects:</h2>
            <ul>
                {% for project in projects %}
                    <li>{{ project.name }}</li>
                {% endfor %}
            </ul>
            {% if projects|length > 5 %}
                <p>...and more</p>
            {% endif %}
        </a>
    </div>

    <div id="map" class="map-container-home"></div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<script>
    const projects = {{ serialized_projects|safe }};
    const map = L.map('map').setView([52.2297, 21.0122], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    projects.forEach(project => {
        const fields = project.fields; 
        const { latitude, longitude, name, description } = fields;
        if (latitude && longitude) {
            const marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup(`<h3>${name}</h3><p>${description}</p>`);
        }
    });
</script>
{% endblock %}
