{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ name }} 
{% endblock %}

{% block content %}
    <div class="project-details-container">
        <h1 class="project-title">{{ name }}</h1>
        <div class="project-info">
            <p><span class="info-label">Opis:</span> {{ description }}</p>
            <p><span class="info-label">Data rozpoczęcia:</span> {{ start_date }}</p>
            <p><span class="info-label">Data zakończenia:</span> {{ end_date }}</p>
            <p><span class="info-label">Status:</span> {{ status }}</p>
        </div>
        <h2 class="assigned-employees-title">Pracownicy przypisani do projektu</h2>
        <ul class="assigned-employees-list">
            {% for employee in employees %}
                <li><a href="{{ employee.get_absolute_url }}">{{ employee.first_name }} {{ employee.last_name }}</a></li>
            {% empty %}
                <li>Brak pracowników przypisanych do projektu</li> 
            {% endfor %}
        </ul>
    </div>
{% endblock %}
