{% extends "base_log.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
    <h1>Logowanie</h1>
    <form method=POST>
        {% csrf_token %}
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Hasło:</label>
        <input type="password" name="password" id="password">
        {% comment %} <a href="{% url 'register' %}">Zarejestruj się</a>
        <a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a> {% endcomment %}
        <br>
        <button type="submit">Zaloguj</button>
    </form>
{% endblock %}