body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

.title {
    color: #0B2F9F;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #0B2F9F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 40px);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    
}

.sidebar .nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav li {
    margin: 10px 0;
    width: auto;
}

.sidebar .nav a {
    display: flex; 
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    width: 100%; 
    box-sizing: border-box; 
}

.sidebar .nav a:hover {
    background-color: #98DED9; 
    color: #0B2F9F; 
}


.sidebar .nav svg {
    width: 35px; 
    height: 35px;
    padding: 8px 0 8px 0; 
    display: inline-block; 
    vertical-align: middle; 
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(269deg) brightness(104%) contrast(100%);
    transition: filter 0.3s ease; 
    
}

.sidebar .nav .nav-icon{
    width: 35px; 
    height: 35px;
    margin-right: 20px; 
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(269deg) brightness(104%) contrast(100%);
}

.sidebar .nav a:hover .nav-icon {
    filter: invert(19%) sepia(53%) saturate(2947%) hue-rotate(206deg) brightness(97%) contrast(99%);
}

.sidebar .footer a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.sidebar .footer a:hover {
    background-color: #98DED9;
    color: #0B2F9F;
}

.sidebar .footer svg {
    width: 35px; 
    height: 35px;
    padding: 8px 0 8px 0; 
    display: inline-block; 
    vertical-align: middle; 
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(269deg) brightness(104%) contrast(100%);
    transition: filter 0.3s ease; 
    
}

.sidebar .footer .nav-icon {
    width: 35px; 
    height: 35px;
    margin-right: 20px; 
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(269deg) brightness(104%) contrast(100%);
}

.sidebar .footer a:hover .nav-icon {
    filter: invert(19%) sepia(53%) saturate(2947%) hue-rotate(206deg) brightness(97%) contrast(99%);
}

/* Content */
.content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
}

/* Topbar */
.topbar {
    position: fixed; 
    top: 20px;
    right: 20px; 
    background-color: #0B2F9F; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1rem; 
    z-index: 1000; 
}

.topbar .username {
    font-weight: bold;
}

/* Edit employee */
.edit-employee-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-employee-title {
    text-align: center;
    color: #0B2F9F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-title {
    color: #0B2F9F;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #98DED9;
    display: inline-block;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    border-color: #0B2F9F;
    outline: none;
    box-shadow: 0 0 5px rgba(11, 47, 159, 0.5);
}

.form-actions {
    text-align: right;
    margin-top: 20px;
}

.btn-primary {
    background-color: #0B2F9F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #98DED9;
    color: #0B2F9F;
}

/* Edit project */
.edit-project-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-project-title {
    text-align: center;
    color: #0B2F9F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-title-project {
    color: #0B2F9F;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #98DED9;
    display: inline-block;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.project-form .form-group input,
.project-form .form-group select,
.project-form .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.project-form .form-group input:focus,
.project-form .form-group select:focus,
.project-form .form-group textarea:focus {
    border-color: #0B2F9F;
    outline: none;
    box-shadow: 0 0 5px rgba(11, 47, 159, 0.5);
}

.form-map {
    margin-top: 20px;
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.form-actions {
    text-align: right;
    margin-top: 20px;
}

.btn-primary {
    background-color: #0B2F9F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #98DED9;
    color: #0B2F9F;
}

@media (max-width: 768px) {
    .edit-project-container {
        padding: 15px;
    }

    .edit-project-title {
        font-size: 1.75rem;
    }

    .btn-primary {
        width: 100%;
    }
}

/* Employee detail */
.employee-details-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.employee-name {
    text-align: center;
    color: #0B2F9F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.employee-info p {
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.6;
}

.info-label {
    font-weight: bold;
    color: #333;
}

/* Project detail */

.project-details-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-title {
    text-align: center;
    color: #0B2F9F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-info p {
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.6;
}

.assigned-employees-title {
    font-size: 1.5rem;
    color: #0B2F9F;
    margin-top: 30px;
    margin-bottom: 10px;
}

.assigned-employees-list {
    list-style: none;
    padding: 0;
}

.assigned-employees-list li {
    margin: 5px 0;
    font-size: 1.1rem;
}

.assigned-employees-list a {
    text-decoration: none;
    color: #0B2F9F;
    transition: color 0.3s;
}

.assigned-employees-list a:hover {
    color: #98DED9;
}

.info-label {
    font-weight: bold;
    color: #333;
}

/* Home Page Styles */
.home-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.home-title {
    font-size: 2rem;
    color: #0B2F9F;
    text-align: center;
    margin-bottom: 10px;
}

.home-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.employees-section, .projects-section {
    flex: 1;
    background-color: #C7F0F4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employees-section h2, .projects-section h2 {
    font-size: 1.5rem;
    color: #0B2F9F;
    margin-bottom: 10px;
}

.employees-section ul, .projects-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #004182;
    font-size: 1.1rem;
}


